@font-face {
  font-family: "Open-Sans";
  src: url("./fonts/OpenSans.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway.ttf");
}

body {
  background-color: hsl(217, 28%, 15%);
  max-width: 1440px;
  margin: auto;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  width: 90%;
}

.nav-title {
  height: 40px;
}

.navigation-items {
  display: flex;
  list-style: none;
}

.a-link {
  padding: 1rem;
  margin: 1rem 0.5rem;
  text-decoration: none;
  color: rgb(187, 187, 187);
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
}

.a-link:hover {
  color: hsl(0, 0%, 100%);
  text-decoration: underline;
}

.intro-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.intro-img {
  margin: 1rem auto;
  height: 425px;
  width: auto;
}

.intro-section > h1 {
  margin: 1rem auto;
  width: 40%;
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

.intro-section > p {
  margin: 1rem auto;
  width: 35%;
  line-height: 1.6;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  color: rgb(187, 187, 187);
}

.intro-button {
  cursor: pointer;
  width: 15%;
  height: 3rem;
  margin: 1rem auto 5rem;
  border-radius: 2rem;
  border: none;
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(
      90deg,
      var(--c1, hsl(176, 68%, 64%)),
      var(--c2, hsl(198, 60%, 50%)) 55%,
      var(--c1, hsl(176, 68%, 64%))
    )
    var(--x, 0) / 200%;
}

.intro-desktop-bg {
  margin: auto;
  z-index: -1;
  max-width: 100%;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  margin: 2rem auto 2rem;
  padding: 2rem 0rem;
}

.darker-bg {
  width: auto;
  position: absolute;
  left: 0;
  right: 0;
  background-color: hsl(218, 28%, 13%);
  z-index: -1;
}

.features-card {
  margin: 2rem 0rem 2rem;
  width: 50%;
  text-align: center;
}

.features-image {
  max-height: 80px;
  width: auto;
}
.features-title {
  margin: 1rem auto 1rem;
  color: hsl(0, 0%, 100%);
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 700;
}
.features-desc {
  width: 75%;
  margin: 0rem auto 0rem;
  line-height: 1.6;
  color: rgb(187, 187, 187);
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
}

.benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 1rem auto;
}

.benefits-title-desc-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0rem 2rem;
}

.benefits-title {
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  width: 80%;
  color: hsl(0, 0%, 100%);
}
.benefits-desc {
  color: rgb(187, 187, 187);
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0.5rem 0rem;
}
.benefits-link-container {
  margin-top: 1rem;
  width: 40%;
}
.benefits-a {
  text-decoration: none;
  color: rgb(187, 187, 187);
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 400;
}

.benefits-a-icon {
  margin: -0.2rem 0.2rem;
}

.benefits-link-container:hover {
  color: white;
  text-decoration: underline;
}

.testimonials {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  padding-top: 5rem;
  margin: 2rem auto;
}

.testimonials-quotes {
  z-index: -1;
  position: absolute;
  left: 15%;
  top: 79%;
}

.testimonials-card {
  background-color: hsl(219, 30%, 18%);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0rem;
  width: 27%;
}

.testimonials-main {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(187, 187, 187);
}

.testimonials-user-info {
  display: flex;
  align-items: center;
}

.testimonials-profile {
  border-radius: 2rem;
  height: 2rem;
  width: auto;
  margin-right: 0.5rem;
}

.testimonials-user {
  font-family: "Raleway";
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: -0.25rem;
  color: hsl(0, 0%, 100%);
}

.testimonials-position {
  font-family: "Raleway";
  font-size: 0.65rem;
  font-weight: 400;
  color: rgb(187, 187, 187);
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 3rem 0rem;
  margin: 2rem auto;
  text-align: center;
  background-color: hsl(217, 28%, 15%);
  border: none;
  border-radius: 0.7rem;
  box-shadow: 10px 7px 5px -1px rgba(0, 0, 0, 0.1);
}

.start-title {
  font-family: "Raleway";
  font-size: 2rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  margin: 0rem;
}

.start-desc {
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  width: 70%;
  color: rgb(187, 187, 187);
  margin: 1rem 0rem;
}

.input-button-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 0.5;
}

.start-input {
  padding: 0.8rem;
  border: none;
  border-radius: 1.7rem;
  margin: 1rem;
  height: 2rem;
  width: 80%;
  font-family: "Raleway";
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(187, 187, 187);
}

.start-button {
  height: auto;
  width: 30%;
  margin: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 1.7rem;
  font-family: "Raleway";
  font-size: 0.9rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(
      90deg,
      var(--c1, hsl(176, 68%, 64%)),
      var(--c2, hsl(198, 60%, 50%)) 55%,
      var(--c1, hsl(176, 68%, 64%))
    )
    var(--x, 0) / 200%;
}

@media (max-width: 400px) {
  body {
    width: 100%;
  }
  .navigation {
    margin: 1rem 1rem;
    width: auto;
  }
  .nav-title {
    margin: 1.25rem 1rem;
    height: 25px;
  }
  .a-link {
    margin: 0em 0.25em;
    padding: 0.5em;
  }
  .intro-desktop-bg {
    display: none;
  }
  .intro-img {
    margin: 1rem auto;
    height: 15rem;
    width: auto;
  }
  .intro-img {
    margin: 1rem auto 1rem;
    height: 15rem;
    width: auto;
  }
  .intro-text {
    width: 100%;
  }
  .intro-section > h1 {
    width: 85%;
    font-family: "Raleway";
    font-size: 1.7rem;
    font-weight: 600;
  }
  .intro-section > p {
    justify-content: center;
    width: 80%;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 400;
  }
  .intro-button {
    width: 60%;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 600;
  }
  .features,
  .features-card {
    width: 100%;
  }
  .features-desc {
    width: 80%;
  }
  .benefits {
    width: 100%;
  }
  .benefits-img {
    height: 225px;
    margin: 1rem auto;
  }
  .benefits-title-desc-container {
    width: 100%;
    margin-top: 1rem;
  }
  .benefits-title {
    width: 100%;
    font-size: 1.2rem;
  }
  .benefits-link-container {
    width: 100%;
  }
  .testimonials {
    flex-direction: column;
    width: 90%;
    padding-top: 2rem;
  }
  .testimonials-card {
    width: 70%;
    margin: 1rem auto;
  }
  .testimonials-quotes {
    top: 66.5%;
  }
}

@media (max-width: 1235px) {
  .intro-desktop-bg {
    top: 95%;
  }
}
